<!DOCTYPE html>

<!-- DO NOT MODIFY THIS FILE -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!--      SPX GRAPHICS CONTROLLER      -->
    <!--     ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨    -->
    <!--      (c) 2020- SPX Graphics       -->
    <!--        http://spx.graphics        -->
    <!--                                   -->
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    
    <!--
      Scripts, no frameworks.
      "Some extract of vanilla, enough to feed Godzilla."
    -->

    <script src="./js/socket.io.js"></script>
    <script src="/js/lib/dotlottie-player.js"></script>
    <script src="/js/spx_rendererUtils.js" type="module"></script> <!-- added in 1.3.3 RC-->
    <title>SPX Renderer</title>
    <style>
        * {
            box-sizing: border-box;
            overflow: hidden;
            margin: 0;
            padding: 0px;
        }

        body, html {
            margin: 0;
            padding: 0px;
            background-color: transparent;
            background-color: rgba(0,0,0,0);
            color: black;
            font-size: 3em;
        }

        #root {
            padding: 0px;
            /* MAIN RENDERER size set by SPX to {{width}}x{{height}} */ 
            width: {{width}};
            height: {{height}};
            position: relative;
            border: 0px dashed red;
            background-size: 100% 100%;
            background-color: rgba(0,0,0,0);
        }
        
        #overlays {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            position: absolute;
            border: 0px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .frame {
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0px;
            position: absolute;
            border: 0px solid red;
        }

        .debugMessage{
            top: 5%;
            left: 10%;
            opacity: 0.0;
            z-index: 500;
            font-size: 2em;
            font-weight: bold;
            position: absolute;
            padding: 0.1em 0.5em;
            display: inline-block;
            color: rgb(3, 42, 3);
            transform: rotate(1deg);
            border: 1px solid green;
            background-color: rgba(205, 255, 218, 0.85);
            font-family: 'Courier New', Courier, monospace;
        }

        #cursorHider {
            z-index: 200;
            background-color: rgba(0,0,0,0.0);
            cursor: none;
        }

        #wm {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            position: absolute;
            border: 0px dashed red;
            background-color: rgba(0,0,0,0);
        }

        @keyframes rotate {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }


    </style>

    <script src="/js/view-renderer.js"></script>

</head>

 <body>
    <div id="root">
        <dotlottie-player id="wm"></dotlottie-player><!-- see private wm notes -->
        {{#ifValue hideCursor "true"}}
            <div id="cursorHider"></div>
        {{/ifValue}}
        {{!-- <iframe class="frame" onload="frameLoaded(this)" allow="autoplay" id="layer1"  style="z-index: 101;" src="about:blank"></iframe> --}}
        <iframe class="frame" allow="autoplay" id="layer1"  style="z-index: 101;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer2"  style="z-index: 102;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer3"  style="z-index: 103;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer4"  style="z-index: 104;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer5"  style="z-index: 105;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer6"  style="z-index: 106;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer7"  style="z-index: 107;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer8"  style="z-index: 108;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer9"  style="z-index: 109;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer10" style="z-index: 110;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer11" style="z-index: 111;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer12" style="z-index: 112;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer13" style="z-index: 113;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer14" style="z-index: 114;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer15" style="z-index: 115;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer16" style="z-index: 116;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer17" style="z-index: 117;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer18" style="z-index: 118;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer19" style="z-index: 119;" src="about:blank"></iframe>
        <iframe class="frame" allow="autoplay" id="layer20" style="z-index: 120;" src="about:blank"></iframe>
    </div><div class="debugMessage" id="debugMessage" style="opacity:0; position: absolute; z-index:1000;"></div>

</body>
</html>